/*******************************************
  HEADER
  assets-src/scss/partials/_header.scss

  NOTE:  There are a couple header style options provided on the Header Settings page. These 
  items are added to a stand alone custom css page that is created by WP. The code for these 
  additions is handled in the 'includes/setup/plugin-setup/advanced-custom-fields.php' file.
*******************************************/
.header {
  div[v65remotejs="loginWidget"] {
    display: none;
  }
}

.logo {
  height: 52px;

  @media #{$breakpoint-extra-large} {
    height: 130px;
  }
}

.mobile-nav {
  @media #{$breakpoint-small} {
    display: block !important;
  }

  @media #{$breakpoint-not-small} {
    display: none;
  }

  @media #{$breakpoint-extra-large} {
    display: flex !important;
  }
}

.main-nav-link {
  @media #{$breakpoint-medium-large} {
    & > a {
      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        z-index: 2;
        width: 0;
        border-bottom: 1px solid $primary-text;
        transform: translateX(-50%);
        transition-duration: 0.4s;
      }

      &.active {
        color: $link-hover;

        &::after {
          width: 100%;
          border-bottom: 1px solid $link-hover;
        }
      }
    }
  }

  @media #{$breakpoint-extra-large} {
    .selected {
      color: $link;
      &::before {
        top: auto;
        bottom: -10px;
        width: calc(100% - 8px);
        border-bottom: 1px solid $primary-text;
      }
    }

    & > a {
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 4px;
        width: 0;
        border-bottom: 1px solid $link-hover;
        transition-duration: 0.3s;
      }
    }

    &:hover {
      & > a {
        color: $link-hover;

        &::before {
          width: calc(100% - 8px);
        }
      }

      .sub-menu-container {
        height: 400px;
      }
    }
  }
}

.sub-menu-container {
  @media #{$breakpoint-not-extra-large} {
    opacity: 0;
    z-index: 0;

    &.active {
      opacity: 1;
      z-index: 1;
    }
  }
}

.nav-menu {
  @media #{$breakpoint-medium-large} {
    & > li {
      max-width: 104px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      z-index: 1;
      width: 100%;
      max-width: 312px;
      border-bottom: 1px solid $taupe-dark;
      transform: translateX(-50%);
    }
  }
}

.nav-promotion {
  width: 280px;
  height: 310px;
}

.login-dropdown {
  top: 1rem;
  left: -2rem;
  width: 200px;

  a {
    display: block;
    margin-bottom: 1rem;

    &:hover {
      color: $link-hover;
    }

    &.btn-link:hover {
      color: $white;
    }
  }
}

.product-modal {
  width: 90%;
  max-width: 420px;

  &__btn {
    max-width: 240px;
  }
}

.sub-menu-container {
  @media #{$breakpoint-extra-large} {
    top: 90px;
    height: 0;
    width: 100vw;
  }
}

.sub-menu {
  @media #{$breakpoint-extra-large} {
    height: 400px;
  }
}
