.people-section {
  &__list-item {
    width: 40%;

    @media #{$breakpoint-desk-small} {
      width: 24%;
      margin-right: 14%;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    @media #{$breakpoint-desk-large} {
      width: 19%;
      margin-right: 8%;

      &:nth-of-type(4n) {
        margin-right: 0;
      }
    }
  }

  &__pic {
    width: 134px;
    height: 134px;

    @media #{$breakpoint-not-small} {
      width: 178px;
      height: 178px;
    }
  }
}
