.featured-links {
  &--double {
    .featured-links__image {
      padding-top: 75.45%;

      @media #{$breakpoint-not-small} {
        padding-top: 74.1%;
      }
    }
  }

  &--triple {
    .featured-links__image {
      @media #{$breakpoint-small} {
        padding-top: 63.2%;
        width: 85%;
      }

      @media #{$breakpoint-not-small} {
        padding-top: 78.8%;
      }
    }
  }

  &__list {
    li {
      @media #{$breakpoint-large} {
        width: calc(33.333% - 13.4px);
        margin-right: 20px;

        &:nth-last-of-type(3n + 3):not(:first-of-type),
        &:last-of-type {
          margin-right: 0;
        }

        &:nth-of-type(2n):nth-last-of-type(2n + 1),
        &:nth-of-type(2n - 1):nth-last-of-type(2n),
        &:nth-of-type(2n - 2):last-of-type {
          width: calc(50% - 10px);

          &:nth-of-type(even) {
            margin-right: 0;
          }
        }
      }

      @media #{$breakpoint-medium} {
        width: calc(50% - 10px);

        &:nth-of-type(odd) {
          margin-right: 20px;
        }
      }
    }
  }

  &__optional-link {
    @media #{$breakpoint-large} {
      padding-left: 115px;
    }

    a {
      @media #{$breakpoint-large} {
        top: 120px;
        left: 8px;
      }

      @media #{$breakpoint-extra-large} {
        left: 32px;
      }
    }
  }
}
