.image-quote {
  &__image {
    max-width: 555px;
  }

  &__quote {
    max-width: 440px;
  }

  &--left {
    .image-quote__quote {
      @media #{$breakpoint-extra-large} {
        margin-left: 135px;
      }
      @media #{$breakpoint-large} {
        margin-left: 65px;
      }
    }
  }

  &--right {
    .image-quote__quote {
      @media #{$breakpoint-extra-large} {
        margin-right: 135px;
      }
      @media #{$breakpoint-large} {
        margin-right: 65px;
      }
    }
  }
}
