.two-image {
  &__image-small {
    @media #{$breakpoint-not-small} {
      width: 35%;

      .two-image__image {
        padding-top: 67.41%;
      }
    }

    .two-image__image {
      padding-top: 66%;
    }
  }

  &__image-big {
    @media #{$breakpoint-not-small} {
      width: 63%;

      .two-image__image {
        padding-top: 63.14%;
      }
    }

    .two-image__image {
      padding-top: 66%;
    }
  }
}
