/*********************
IMPORT NEEDED SCSS FILES
*********************/

//***************** config variables
@import "config/variables";

//***************** import mixins
@import "helpers/mixins";

.content_block_modal {
  &.acf-fc-popup {
    width: 80%;
    max-width: 1200px;
    //height:80%;
    max-height: 1200px;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 0;
    position: fixed;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.acf-fc-popup * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.acf-fc-popup::before,
  &.acf-fc-popup::after {
    border-color: transparent !important;
  }
  &.acf-fc-popup:before {
    top: -500% !important;
    right: 0 !important;
    bottom: 0 !important;
    left: -100% !important;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    height: 200vh;
    width: 200vw;
    margin: 0 !important;
    padding: 0;
    content: "";
  }

  &.acf-fc-popup ul {
    overflow: auto;
    height: 100%;
    width: 100%;
    background: #f4f4f4;
    border: #ccc;
    padding: 15px;
    position: relative;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding-top: 75px;
  }
  &.acf-fc-popup ul:before {
    position: absolute;
    top: 31px;
    content: "Add a Content Block to the Page.";
    font-size: 23px;
    font-weight: 400;
    color: #333;
    left: 30px;
  }
  &.acf-fc-popup ul:after {
    position: absolute;
    top: 20px;
    content: "X";
    font-size: 23px;
    color: #666;
    right: 20px;
    cursor: pointer;
  }
  &.acf-fc-popup ul li {
    width: 33.33333%;
    padding: 0.5%;
    float: left;

    &:hover {
      a {
        background: #35856b !important;
        color: white !important;
      }
    }
  }

  @media only screen and (max-width: 960px) {
    &.acf-fc-popup ul li {
      width: 50%;
    }
  }

  @media only screen and (max-width: 782px) {
    &.acf-fc-popup {
      width: 95%;
      height: 88%;
    }
    &.acf-fc-popup ul li {
      width: 100%;
    }
  }

  &.acf-fc-popup ul li a {
    border: 1px solid #ddd;
    background: #fff;
    padding: 12px 12px 12px 35px;
    color: #333;
    transition: 0.15s ease-in-out;
  }
  &.acf-fc-popup ul li a i {
    font-size: 22px;
    vertical-align: text-top;
    margin-right: 10px;
  }

  &.acf-fc-popup ul li a[data-layout]:before {
    position: absolute;
    display: inline-block;
    //font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: text-top;
    margin-left: -20px;
    //margin-top:-1px;
    content: ">";
  }
}

.acf-fields.-left > .acf-field.acf_theme_options {
  &.acf-field {
    border-bottom: 1px solid #adadad;
    background: white;
    margin-bottom: 1px;

    @include mq("desktop") {
      padding-left: 32%;
    }
  }

  &.acf_theme_sub_option {
    padding-left: 40px;
    margin-top: -1px;
    background: #fbfbfb;

    @include mq("desktop") {
      padding-left: 35%;
    }
  }

  .acf-label {
    width: 100%;

    @include mq("desktop") {
      width: 45%;
      margin-left: -45%;
    }
  }
}

.acf-fields > .acf-field {
  &.acf-sub-label {
    padding-left: 55px;
    background: #fbfbfb;
  }
  .acf-sub-label {
    padding-left: 55px;
    background: #fbfbfb;
  }

  &.acf-sub-label2 {
    padding-left: 125px;
  }
  .acf-sub-label2 {
    padding-left: 125px;
  }

  &.acf-sub-bg {
    background: #fbfbfb;
  }
  .acf-sub-bg {
    background: #fbfbfb;
  }
}

.acf-fields > .acf-field.acf_small_editor iframe {
  min-height: 0;
  height: 150px !important;
}

#acf-group_5ed041c14a5bf,
#acf-group_5e45babc452dc,
#acf-group_5e42feac16589,
#acf-group_5e8f865435cd6,
#acf-group_5e8cbcf0d6ea1,
#acf-group_5e4425aa612c9,
#acf-group_5e4414cb1e9cd,
#acf-group_5e9f71cd0369c {
  .inside.acf-fields {
    background: white;
  }

  .inside.acf-fields > .acf-field {
    padding: 15px 25px;
    background: white;
  }

  .inside.acf-fields > .acf-field > .acf-label > label {
    background: #efefef;
    padding: 5px;
    margin-bottom: 0;
    //background: #4d4d4d;
    background: #35856b;
    color: white;
  }
  .inside.acf-fields .acf-field-group > .acf-label {
    //background: #efefef;
    //padding: 5px;
    margin-bottom: 0;
  }

  .inside.acf-fields > .acf-field > .acf-label {
    background: #f3f3f3;
    margin-bottom: 0;

    p {
      padding: 5px 10px;
    }
  }

  .acf-tab-group {
    background: #fbfbfb;

    li {
      background: transparent;

      a {
        color: inherit;
        border: 1px solid #ededed;
        background: transparent;
      }

      &.active a {
        background: white !important;
        border-right: none;
      }
    }
  }
}

.acf_theme_layout {
  background: $white;

  .acf-fields.-sidebar > .acf-tab-wrap.-left .acf-tab-group {
    background: #fbfbfb;
  }

  .acf-fc-layout-handle {
    background: #35856b;
    color: white !important;
  }

  .acf-flexible-content .layout .acf-fc-layout-handle {
    padding: 12px 10px;
  }

  .acf-fields.-sidebar > .acf-tab-wrap.-left .acf-tab-group li a {
    //border: 1px solid #cac9c9;

    color: inherit;
  }

  .acf-fields.-sidebar:before {
    background: #e8e5e5;
    background: #5d5d5d;
    background: #d4d4d4;
    background: #f7f7f7;
  }

  .acf-actions .acf-button {
    margin-top: 30px;
  }

  input,
  select,
  textarea {
    border: 1px solid #b7b7b7;
    padding: 15px;
    background: #f7f7f7;
    //-webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
}

.acf_table_mod {
  table {
    border-collapse: collapse;
  }
  table tr {
    //border-top: 15px solid transparent;
    border-bottom: 15px solid #efefef;
  }
  > .acf-input > .acf-repeater > table > tbody > tr {
    //border: 15px solid white; }
    border-bottom: 15px solid $white;
  }

  .acf-repeater .acf-row-handle.order + td {
    background: #efefef;
  }

  table table .acf-field {
    background: $white;
  }
}

.CodeMirror-scroll {
  min-height: 120px;
}

.acf-flexible-content *[data-layout^="format_"] .acf-fc-layout-handle,
.acf-fc-popup *[data-layout^="format_"] {
  background: #72777c !important;
  color: white !important;
}

.content_block_modal.acf-fc-popup ul li *[data-layout^="format_"]:hover {
  background: darken(#72777c, 15%) !important;
}
.acf-field-5ed5b18aa55ea {
  label {
    p {
      margin: 0;
      font-weight: bold;
      text-align: center;
    }
    input {
      display: none;
    }
    img {
      width: 200px;
      border: dashed 3px #ddd;
    }
    &.selected {
      img {
        border: solid 3px red;
      }
    }
  }
}
