html {
  font-size: 62.5%;
}

body#tinymce.wp-editor {
  //***************** CSS normalize
  @import "vendor/normalize";

  //***************** Sass variables
  @import "config/variables";

  //***************** Sass functions
  @import "helpers/functions";

  //***************** import mixins
  @import "helpers/mixins";

  //***************** typography
  @import "global/typography";

  font-weight: $weight_primary;
  font-family: $font_primary;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ul {
    display: inline-block;
    padding: 0;
    list-style: none;

    li {
      text-align: left;
      margin-bottom: 5px;
      padding-left: 15px;
      position: relative;

      @include mq("desktop") {
        padding-left: 30px;
      }

      &:before {
        content: "•";
        position: absolute;
        left: -5px;
        //color: $fire_brush;
      }
    }
  }
}
