/******************************************************************
Site Name: SFS
Author: Steven McMillen

Stylesheet: Login Stylesheet

******************************************************************/

//***************** CSS normalize
@import "vendor/normalize";

//***************** Sass variables
@import "config/variables";

//***************** Sass functions
@import "helpers/functions";

//***************** import mixins
@import "helpers/mixins";

//***************** typography
@import "global/typography";

@import "global/buttons";

body.login {
  background: $white;
}

.login {
  position: relative;

  h1 {
    position: relative;
    z-index: 200;

    a {
      //background: url(../images/brand/logo.svg) no-repeat top center;
      width: 100%;
      height: auto;
      height: 50px;
    }
  }

  form,
  #login_error,
  #nav,
  #backtoblog,
  .message {
    position: relative !important;
    z-index: 200;
  }

  #login_error,
  .message {
    font-size: 1.2rem;
    background: #efefef;
  }

  form {
    padding-bottom: 30px;
    background: #efefef;

    input {
      background: $white;
    }
    input:focus {
      border-color: $white;
    }

    .submit {
      height: 60px;
    }

    .button {
      @extend %btn;
      height: 45px !important;
      box-shadow: none;
      text-shadow: none;
      font-size: 1.4rem !important;
      padding: 0px 45px !important;
      line-height: 1.4rem !important;
      margin-top: 60px;

      //position: absolute;
      //right: 0;
      //bottom: 0;

      &:hover,
      &:focus {
      } // end hover

      &:active {
      } // end active*/
    }
  }

  #nav,
  #backtoblog {
    a {
      color: #666666;

      &:focus,
      &:active,
      &:hover {
        color: #666666;
      }
    }
  }
} /* the form box */

/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/

.login h1 a {
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
}

/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
#wp-submit {
} /* login button*/
