/*******************************************
 STYLESHEET
********************************************/
/**************************************

NOTE BEFORE UPDATING !!!!!!!!!

style.css is compiled using SASS from contents
of the following three directories in the theme.  

assets/styles/scss
inc/blocks
inc/parts

If the compiled CSS file is manually changed the 
scss files will be out of date.

YOU HAVE BEEN WARNED!!

**************************************/
/*********************
IMPORTING FONT STYLES
*********************/
/*********************
IMPORTING CONFIG AND HELPERS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/*******************************************
  VARIABLES
  assets/styles/scss/config/_variables.scss
*******************************************/
/************************************************************
FILE PATH

can be used by scss files when referencing images that are
part of the theme build and not directly editable through
WP admin interface
************************************************************/
/************************************************************
CONTAINER SETTINGS

defines the maximum width
************************************************************/
/************************************************************
SPACING

vertical spacing between content blocks
************************************************************/
/************************************************************
BREAKPOINTS

standard breakpoints used with the shortcut 'mq' mixin
see _mixins.scss for mixin and use example
************************************************************/
/************************************************************
COLORS

primary use colors in theme, however content blocks should
rely more on the sites primary and secondary theme color and
allow manual color selection in most cases

tool to find real color names for variables
http://chir.ag/projects/name-that-color
************************************************************/
/************************************************************
TYPOGRAPHY

General typography settings and all font size settings are 
done here, fine tuning can be doen in _typography.scss
************************************************************/
/*
Note about font sized variables:
fonts defined by minimum and maximum variables, fonts are adjusted dynamically
at various breakpoints between these the min and max value.  

Min is used at PHONE size and max is used at DESKTOP-WIDE breakpoint

For greater control of font sizes at various in between breakpoints adjust the 
$font_adjust variable just a little lower below.  
 */
/************************************************************
HEADER SETTINGS

Variable use, their names, values, and count can be modified
as needed for client specific modifications. 
************************************************************/
/************************************************************
FOOTER SETTINGS

Variable use, their names, values, and count can be modified
as needed for client specific modifications. 
************************************************************/
/************************************************************
TRANSITIONS

Some standard stransition and ease values
************************************************************/
/*******************************************
  FUNCTIONS
  assets/styles/scss/helpers/_function.scss
*******************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/***********************
FONT FUNCTIONS
***********************/
/*******************************************
  MIXINS
  assets/styles/scss/helpers/_mixins.scss
*******************************************/
/*********************
TRANSITION
*********************/
/* @include transition(all 0.2s ease-in-out); */
/**************************
      
      Quantity Query

      Allows you to apply different styling based on the number of a certain type
      of element within a shared parent.

      Example below changes the width based on the number of .child class items in a shared parent

      .child {
        display: inline-block;

        @include quantity-query( 1, equal) {
          width: 100%;
        }
        @include quantity-query( 2, equal) {
          width: 46%;
          margin-right: 8%;
          &:last-of-type { margin-right: 0 !important; }
        }
        @include quantity-query( 3, equal) {
          width: 30%;
          margin-right: 5%;
          &:last-of-type { margin-right: 0 !important; }
        }
        @include quantity-query( 4, greater) {
          width: 46%;
          margin-right: 8%;
          &:nth-child(2n+2) { margin-right: 0 !important; }
        }
      }

      https://www.sitepoint.com/using-sass-quantity-queries/

**************************/
/************************

      BREAKPOINT MIXINS

      Example 

      .site-header {
          padding: 2rem;
          font-size: 1.8rem;
          @include mq('tablet-wide') {
              padding-top: 4rem;
              font-size: 2.4rem;
          }
      }

*************************/
/************************
      
      CLEARFIX

      Example

      .container-with-floated-children {
        @extend %clearfix;
      }

      @extend %nowiggle

*************************/
/************************
      
      HARDWARE

      Simple and effective for when you need to trigger hardware acceleration 
      for some animation, keeping everything fast, slick and flicker-free.

*************************/
/*********************
IMPORTING GLOBAL
These files affect all pages
*********************/
/*******************************************
  TYPOGRAPHY
  assets/styles/scss/global/_typography.scss
*******************************************/
/*
Tweak as needed for H tags though you shouldn't have to adjust font size here
 */
html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: WorkSans, sans-serif;
  color: #1b282f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.3;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 16.6px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 17.4px;
  }
}

@media only screen and (min-width: 1300px) {
  body {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin: 0;
}

h1, .h1, h2, .h2 {
  font-family: Suranna, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #1b282f;
}

h1, .h1 {
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: .007em;
}

@media only screen and (min-width: 480px) {
  h1, .h1 {
    font-size: 50.4px;
  }
}

@media only screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 52px;
  }
}

@media only screen and (min-width: 1024px) {
  h1, .h1 {
    font-size: 53.6px;
  }
}

@media only screen and (min-width: 1300px) {
  h1, .h1 {
    font-size: 56px;
  }
}

h2, .h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: .007em;
}

@media only screen and (min-width: 480px) {
  h2, .h2 {
    font-size: 39.6px;
  }
}

@media only screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 42px;
    letter-spacing: 1.04;
  }
}

@media only screen and (min-width: 1024px) {
  h2, .h2 {
    font-size: 44.4px;
  }
}

@media only screen and (min-width: 1300px) {
  h2, .h2 {
    font-size: 48px;
  }
}

h3, .h3 {
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: .007em;
}

@media only screen and (min-width: 480px) {
  h3, .h3 {
    font-size: 28.6px;
  }
}

@media only screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 29px;
    line-height: 1.6;
    letter-spacing: 0.043em;
  }
}

@media only screen and (min-width: 1024px) {
  h3, .h3 {
    font-size: 29.4px;
  }
}

@media only screen and (min-width: 1300px) {
  h3, .h3 {
    font-size: 30px;
  }
}

p, .p {
  font-size: 16px;
  line-height: 2;
  color: #696969;
  margin: 0;
}

@media only screen and (min-width: 480px) {
  p, .p {
    font-size: 16.6px;
  }
}

@media only screen and (min-width: 768px) {
  p, .p {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1024px) {
  p, .p {
    font-size: 17.4px;
  }
}

@media only screen and (min-width: 1300px) {
  p, .p {
    font-size: 18px;
  }
}

.card {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: .043em;
  color: #1b282f;
}

@media only screen and (min-width: 480px) {
  .card {
    font-size: 24.6px;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    font-size: 25.4px;
  }
}

@media only screen and (min-width: 1300px) {
  .card {
    font-size: 26px;
  }
}

.desc {
  font-size: 16pxpx;
  line-height: 1.88;
  color: #696969;
}

@media only screen and (min-width: 480px) {
  .desc {
    font-size: 16.6pxpx;
  }
}

@media only screen and (min-width: 768px) {
  .desc {
    font-size: 17pxpx;
    line-height: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 17.4pxpx;
  }
}

@media only screen and (min-width: 1300px) {
  .desc {
    font-size: 18pxpx;
  }
}

.sm_desc {
  font-size: 14pxpx;
  line-height: 1.71;
  color: #696969;
}

@media only screen and (min-width: 480px) {
  .sm_desc {
    font-size: 14.6pxpx;
  }
}

@media only screen and (min-width: 768px) {
  .sm_desc {
    font-size: 15pxpx;
    line-height: 1.75;
  }
}

@media only screen and (min-width: 1024px) {
  .sm_desc {
    font-size: 15.4pxpx;
  }
}

@media only screen and (min-width: 1300px) {
  .sm_desc {
    font-size: 16pxpx;
  }
}

a {
  color: #315e6f;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  /** disabled link styling **/
}

a:hover {
  text-decoration: underline;
}

a.bread-parent-389, a.bread-parent-399, a.bread-parent-407 {
  opacity: 0.5;
  cursor: normal;
}

a.bread-parent-389:hover, a.bread-parent-399:hover, a.bread-parent-407:hover {
  text-decoration: none;
}

.cta_text {
  text-decoration: none;
  font-size: 16px;
  color: #315e6f;
  font-weight: 600;
  text-transform: uppercase;
}

b, .weight-heavy {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-primary {
  font-weight: 400;
}

.font-mid {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 800;
}

/*******************************************
  FONTS
  assets/styles/scss/global/_fonts.scss
*******************************************/
@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url("../fonts/Work_Sans/static/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Suranna';
  src: url("../fonts/Suranna/Suranna-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*******************************************
  BASE
  assets/styles/scss/global/_base.scss
*******************************************/
body, html {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: #e9e9e9;
}

/* General Util classes */
.text-center {
  text-align: center;
}

.content_block {
  /* Standard outer */
  margin: auto;
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  /* END standard outer */
}

@media only screen and (min-width: 768px) {
  .content_block {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .content_block {
    padding: 55px 0;
  }
}

@media only screen and (min-width: 1300px) {
  .content_block {
    padding: 75px 0;
  }
}

.content_block.padding-collapse-top {
  padding-top: 0;
}

.content_block.padding-collapse-bottom {
  padding-bottom: 0;
}

.content_block.padding-collapse-both {
  padding-top: 0;
  padding-bottom: 0;
}

.content_block .inner {
  /* Standard inner */
  z-index: 100;
  position: relative;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  /* END standard inner */
}

/*******************************************
  ALERTS
  assets/styles/scss/global/_alerts.scss
*******************************************/
/*******************************************
  BUTTONS
  assets/styles/scss/global/_buttons.scss
*******************************************/
/*********************
BUTTON DEFAULTS
*********************/
.button {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  height: auto;
  line-height: 1;
  letter-spacing: 0.053em;
  border-radius: 30.5px;
  font-weight: 600;
  border: solid 1px #315e6f;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-appearance: none;
  margin: 00;
  padding: 17px 40px;
}

.button:hover, .button:focus {
  outline: none;
  text-decoration: none;
}

/*********************
BUTTON CLASSES
*********************/
.button {
  white-space: pre;
}

.button.primary {
  background-color: #315e6f;
  color: #FFFFFF;
}

.button.secondary {
  background-color: #FFFFFF;
  color: #1b282f;
}

/*********************
IMPORTING VIEWS
views are styles for site specific pages or singles
*********************/
/*******************************************
  BLOG LISTING
  assets/styles/scss/view/_blog.scss
*******************************************/
/*******************************************
  POST SINGLE
  assets/styles/scss/view/_single.scss
*******************************************/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*********************
IMPORTING PARTS
Parts are like content blocks however used globally

Refer to them in the /inc/parts/ location
*********************/
/*******************************************
  HEADER
  assets-src/scss/partials/_header.scss

  NOTE:  There are a couple header style options provided on the Header Settings page. These 
  items are added to a stand alone custom css page that is created by WP. The code for these 
  additions is handled in the 'includes/setup/plugin-setup/advanced-custom-fields.php' file.
*******************************************/
header {
  position: absolute;
  background: transparent;
  z-index: 1000;
  width: 100%;
}

header.sticky {
  position: fixed;
}

header .logo {
  height: 80px;
}

header .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

header .overlay.popped-up {
  visibility: visible;
  opacity: 1;
}

header .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 100px;
  position: relative;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

header .popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

/*******************************************
  FOOTER
  assets-src/scss/partials/_footer.scss
*******************************************/
footer .inner {
  margin: 0 auto;
  color: #FFFFFF;
  padding: 50px 20px;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  border-top: 1px solid rgba(152, 143, 123, 0.2);
}

@media only screen and (min-width: 1024px) {
  footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px;
  }
}

footer a {
  color: #FFFFFF;
}

footer .footer-left {
  letter-spacing: 1px;
}

footer .footer-left .copyright {
  margin-right: 2em;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

footer .footer-left .footer-links a {
  margin-right: 1em;
}

footer .footer-left .footer-links a:last-child {
  margin-right: 0;
}

footer .footer-left > span {
  display: block;
}

@media only screen and (min-width: 768px) {
  footer .footer-left > span {
    display: inline;
  }
}

footer .footer-right {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 768px) {
  footer .footer-right {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  footer .footer-right {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

footer .footer-right .footer-menu {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  footer .footer-right .footer-menu {
    margin-bottom: 0;
  }
}

footer .footer-right .footer-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer .footer-right .footer-menu ul a {
  margin-right: 3em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-right .footer-menu ul a .icon {
  font-size: 1.3em;
  margin-right: .5em;
  line-height: 0.85;
}

footer .footer-right .social a {
  text-decoration: none;
}

/*********************
IMPORTING BLOCKS
Blocks are reusable 'legos' that are used for flexible page build using ACF.
These must be imported last so they override any site wide styling

Refer to them in their /inc/blocks/ location
*********************/
/*
Block Import SCSS

Note:  This file is programatically modified, do not manually adjust
unless you know what you are doing!

This file is used for the script based block install/delete tool.
It is modified by a script to add and remove scss imports.
*/
.blk__2columns .inner .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .blk__2columns .inner .columns.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.blk__2columns .inner .columns .photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  width: 100%;
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .blk__2columns .inner .columns .photo {
    width: 46%;
    height: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  .blk__2columns .inner .columns .photo {
    height: 450px;
  }
}

.blk__2columns .inner .columns .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .blk__2columns .inner .columns .description {
    width: 46%;
  }
}

.blk__2columns .inner .columns .description .desc {
  margin: 1em 0;
}

.blk__hero .hero-background-photo {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 768px) {
  .blk__hero .hero-background-photo {
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .blk__hero .hero-background-photo {
    height: 700px;
  }
}

.blk__hero .hero-desc {
  margin: 0 auto;
  background: white;
  text-align: center;
}

.blk__hero .hero-desc h1 {
  padding: .7em 0 .5em;
}

.blk__hero .hero-desc .desc {
  padding-bottom: 6rem;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .blk__hero .hero-desc {
    margin-top: -7%;
  }
}

@media only screen and (min-width: 1024px) {
  .blk__hero .hero-desc {
    max-width: 1024px;
  }
}

.blk__hero .cta {
  text-align: center;
  margin-top: -25px;
}

/*********************
Client Specific Overrides

Single override file for client specific tweaks to theme global styles
or common use block base styles.  Reference block class name in the block.

DO NOT use this file for client specific blocks, use the blocks scss file.
*********************/
/*# sourceMappingURL=style.css.map */