/*******************************************
  Styles only applied on the WP Dashboard
  assets/styles/scss/wp-dashboard.scss
*******************************************/

	//***************** icon
	@import "global/iconfont";


/* hide group header on Categories edit pages */
.wp-admin.taxonomy-category #edittag h2,
.wp-admin.edit-tags-php #acf-term-fields {
  display: none;
}

#adminmenu .menu-icon-wine div.wp-menu-image:before {
  font-family: 'icon-fonts' !important;
  content: "\ea97";
}
#adminmenu .menu-icon-experience div.wp-menu-image:before {
  font-family: 'icon-fonts' !important;
  content: "\eaa8";
}
#adminmenu .menu-icon-club div.wp-menu-image:before {
  font-family: 'icon-fonts' !important;
  content: "\eaa9";
}
#adminmenu .menu-icon-event div.wp-menu-image:before {
  font-family: 'icon-fonts' !important;
  content: "\eaaa";
}
#adminmenu .menu-icon-recipe div.wp-menu-image:before {
  font-family: 'icon-fonts' !important;
  content: "\eaab";
}
#adminmenu .menu-icon-post div.wp-menu-image:before {
  font-family: 'icon-fonts' !important;
  content: "\eaac";
}