.wines-promo {
  background-repeat: no-repeat;
  background-position: right center;

  @media #{$breakpoint-small} {
    background: none !important;
  }

  &__image {
    width: 42vw;
    height: 58vw;

    @media #{$breakpoint-medium} {
      width: 32vw;
      height: 44vw;
    }

    @media #{$breakpoint-large} {
      width: 398px;
      height: 546px;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 350px;
    padding: 15px 14px;
    background-color: $white;
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media #{$breakpoint-not-small} {
      bottom: 20px;
    }

    @media #{$breakpoint-small} {
      top: 62.5vw;
    }
  }
}
