.images-slider {
  max-width: 900px;

  &__image {
    height: 65.66vw;
    max-height: 612px;

    @media #{$breakpoint-large} {
      height: 612px;
    }
  }

  .slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    text-indent: 1000px;
    overflow: hidden;
    font-family: "icon-fonts" !important;

    &::after {
      content: "\e90d";
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
      color: $primary-text;
      font-size: 40px;
    }
  }

  .slick-prev {
    left: -47px;

    @media #{$breakpoint-extra-large} {
      left: -87px;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  .slick-next {
    right: -47px;

    @media #{$breakpoint-extra-large} {
      right: -87px;
    }

    &::after {
      transform: rotate(-90deg);
    }
  }

  .slick-dots {
    justify-content: center;
    margin-top: $spacing-medium;
  }
}
