// Colors
.bg-white {
  background-color: $white;
}
.bg-taupe-bright {
  background-color: $taupe-bright;
}
.bg-link {
  background-color: $link;
}
.bg-primary-text {
  background-color: $primary-text;
}

// Sizes
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}
.bg-height {
  background-size: auto 100%;
}

// Repeate
.bg-no-repeat {
  background-repeat: no-repeat;
}

// Positions
.bg-center {
  background-position: center;
}
