.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-24 {
  bottom: 24px;
}

.left-0 {
  left: 0;
}

// .absolute--fill {
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

.center-elem-h {
  left: 50%;
  transform: translateX(-50%);
}

.center-elem-v {
  top: 50%;
  transform: translateY(-50%);
}

// .center-elem {
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// @media #{$breakpoint-small} {
// }

// @media #{$breakpoint-not-small} {
// }

// @media #{$breakpoint-medium} {
// }

@media #{$breakpoint-not-large} {
  .left-0-nl {
    left: 0;
  }

  .center-elem-nl {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media #{$breakpoint-large} {
  .bottom-0-l {
    bottom: 0;
  }

  .center-elem-h-l {
    left: 50%;
    transform: translateX(-50%);
  }

  .center-elem-v-l {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media #{$breakpoint-extra-large} {
  .left-0-xl {
    left: 0;
  }
}
