.dn {
  display: none;
}
// .di { display: inline; }
.db {
  display: block;
}
.dib {
  display: inline-block;
}

@media #{$breakpoint-small} {
  .dn-s {
    display: none;
  }
  .db-s {
    display: block;
  }
}

@media #{$breakpoint-not-small} {
  .dn-ns {
    display: none;
  }
}

// @media #{$breakpoint-medium} {
// }

@media #{$breakpoint-not-large} {
  .dn-nl {
    display: none;
  }
  .db-nl {
    display: block;
  }
  .dib-nl {
    display: inline-block;
  }
}

@media #{$breakpoint-large} {
  .dn-l {
    display: none;
  }
  .db-l {
    display: block;
  }
}

@media #{$breakpoint-extra-large} {
  .dn-xl {
    display: none;
  }
}

@media #{$breakpoint-not-extra-large} {
  .dn-nxl {
    display: none;
  }
}
