.flex {
  display: flex;
}
// .inline-flex { display: inline-flex; }
// .flex-none { flex: none; }

.flex-column {
  flex-direction: column;
}
// .flex-row     { flex-direction: row; }
.flex-wrap {
  flex-wrap: wrap;
}
// .flex-column-reverse  { flex-direction: column-reverse; }
.flex-row-reverse {
  flex-direction: row-reverse;
}
// .flex-wrap-reverse    { flex-wrap: wrap-reverse; }

// .items-start    { align-items: flex-start; }
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
// .items-baseline { align-items: baseline; }
// .items-stretch  { align-items: stretch; }

// .self-start    { align-self: flex-start; }
// .self-end      { align-self: flex-end; }
// .self-center   { align-self: center; }
// .self-baseline { align-self: baseline; }
// .self-stretch  { align-self: stretch; }

// .justify-start   { justify-content: flex-start; }
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
// .justify-around  { justify-content: space-around; }

// .content-start   { align-content: flex-start; }
// .content-end     { align-content: flex-end; }
// .content-center  { align-content: center; }
// .content-between { align-content: space-between; }
// .content-around  { align-content: space-around; }
// .content-stretch { align-content: stretch; }

.shrink-0 {
  flex-shrink: 0;
}

.grow-1 {
  flex-grow: 1;
}

// .order-0 { order: 0; }
// .order-1 { order: 1; }
// .order-2 { order: 2; }
// .order-3 { order: 3; }
// .order-4 { order: 4; }
// .order-5 { order: 5; }
// .order-6 { order: 6; }
// .order-7 { order: 7; }
// .order-8 { order: 8; }
// .order-last { order: 99999; }

@media #{$breakpoint-small} {
  .flex-s {
    display: flex;
  }

  .flex-column-reverse-s {
    flex-direction: column-reverse;
  }

  .justify-between-s {
    justify-content: space-between;
  }
}

@media #{$breakpoint-not-small} {
  .flex-ns {
    display: flex;
  }
}

@media #{$breakpoint-medium} {
  .flex-column-m {
    flex-direction: column;
  }

  .items-start-m {
    align-items: flex-start;
  }

  .justify-around-m {
    justify-content: space-around;
  }
}

@media #{$breakpoint-large} {
  .flex-l {
    display: flex;
  }

  .justify-between-l {
    justify-content: space-between;
  }
  .justify-end-l {
    justify-content: flex-end;
  }
}

@media #{$breakpoint-not-extra-large} {
  .flex-nxl {
    display: flex;
  }

  .justify-center-nxl {
    justify-content: center;
  }
}

@media #{$breakpoint-not-large} {
  .flex-nl {
    display: flex;
  }

  .justify-center-nl {
    justify-content: center;
  }
  .justify-between-nl {
    justify-content: space-between;
  }
  .justify-around-nl {
    justify-content: space-around;
  }

  .flex-column-reverse-nl {
    flex-direction: column-reverse;
  }

  .items-start-nl {
    align-items: flex-start;
  }
}

@media #{$breakpoint-extra-large} {
  .flex-xl {
    display: flex;
  }

  .self-end-xl {
    align-self: flex-end;
  }

  .justify-around-xl {
    justify-content: space-around;
  }
  .justify-center-xl {
    justify-content: center;
  }
}
