.f1 {
  font-size: 23px;
}
.f2 {
  font-size: 21.3px;
}
.f3 {
  font-size: 17.2px;
}
.f4 {
  font-size: 16px;
}
.f5 {
  font-size: 14px;
}
.f6 {
  font-size: 13.3px;
}
.f7 {
  font-size: 12px;
}

@media #{$breakpoint-small} {
  .f6-s {
    font-size: 13.3px;
  }
  .f7-s {
    font-size: 12px;
  }
}

@media #{$breakpoint-medium} {
  .f5-m {
    font-size: 14px;
  }
  .f6-m {
    font-size: 13.3px;
  }
}

@media #{$breakpoint-not-large} {
  .f6-nl {
    font-size: 13.3px;
  }
}

@media #{$breakpoint-large} {
  .f2-l {
    font-size: 21.3px;
  }
  .f5-l {
    font-size: 14px;
  }
}

@media #{$breakpoint-not-extra-large} {
  .f6-nxl {
    font-size: 13.3px;
  }
}

@media #{$breakpoint-extra-large} {
  .f2-xl {
    font-size: 21.3px;
  }
}
