// .h-p-25 {  height:  25%; }
// .h-p-50 {  height:  50%; }
// .h-p-75 {  height:  75%; }
.h-p-100 {
  height: 100%;
}

// .min-h-p-100 { min-height: 100%; }

// .vh-25 {  height:  25vh; }
// .vh-50 {  height:  50vh; }
// .vh-75 {  height:  75vh; }
.vh-100 {
  height: 100vh;
}

.max-h-50 {
  max-height: 50px;
}
// .min-vh-100 { min-height: 100vh; }

// .h-auto {     height: auto; }
// .h-inherit {  height: inherit; }

// @media #{$breakpoint-small} {
// }

// @media #{$breakpoint-not-small} {
// }

// @media #{$breakpoint-medium} {
// }

// @media #{$breakpoint-not-large} {
// }

// @media #{$breakpoint-large} {
// }
