.h-bg-link {
  &:hover {
    background-color: $link-hover;
  }
}

.h-tc-link {
  &:hover {
    color: $link;
  }
}
.h-tc-link-hover {
  &:hover {
    color: $link-hover;
  }
}

.h-svg-taupe-dark {
  &:hover {
    fill: $taupe-dark;
  }
}

.h-underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 1px solid $primary-text;
    transition-duration: 0.4s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
