.of-hidden {
  overflow: hidden;
}

// @media #{$breakpoint-small} {
// }

// @media #{$breakpoint-not-small} {
// }

// @media #{$breakpoint-medium} {
// }

@media #{$breakpoint-not-large} {
  .of-hidden-nl {
    overflow: hidden;
  }
}

// @media #{$breakpoint-large} {
// }
