// .static { position: static; }
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

// @media #{$breakpoint-small} {
// }

@media #{$breakpoint-not-small} {
  .absolute-ns {
    position: absolute;
  }
}

// @media #{$breakpoint-medium} {
// }

@media #{$breakpoint-not-large} {
  .absolute-nl {
    position: absolute;
  }
}

@media #{$breakpoint-large} {
  .absolute-l {
    position: absolute;
  }
  .relative-l {
    position: relative;
  }
}

@media #{$breakpoint-not-extra-large} {
  .relative-nxl {
    position: relative;
  }
}

@media #{$breakpoint-extra-large} {
  .absolute-xl {
    position: absolute;
  }
  .relative-xl {
    position: relative;
  }
}
