// .pa0 { padding: $spacing-none; }
// .pa-xs { padding: $spacing-extra-small; }
// .pa-s { padding: $spacing-small; }
.pa-m {
  padding: $spacing-medium;
}
// .pa-l { padding: $spacing-large; }
.pa-xl {
  padding: $spacing-extra-large;
}
// .pa-xxl { padding: $spacing-extra-extra-large; }
// .pa-xxxl { padding: $spacing-extra-extra-extra-large; }

// .pt0 { padding-top: $spacing-none; }
.pt-xs {
  padding-top: $spacing-extra-small;
}
.pt-s {
  padding-top: $spacing-small;
}
.pt-m {
  padding-top: $spacing-medium;
}
.pt-l {
  padding-top: $spacing-large;
}
.pt-xl {
  padding-top: $spacing-extra-large;
}
.pt-xxl {
  padding-top: $spacing-extra-extra-large;
}
// .pt-xxxl { padding-top: $spacing-extra-extra-extra-large; }

// .pl0 { padding-left: $spacing-none; }
.pl-xs {
  padding-left: $spacing-extra-small;
}
.pl-s {
  padding-left: $spacing-small;
}
.pl-m {
  padding-left: $spacing-medium;
}
.pl-l {
  padding-left: $spacing-large;
}
// .pl-xl { padding-left: $spacing-extra-large; }
.pl-xxl {
  padding-left: $spacing-extra-extra-large;
}
// .pl-xxxl { padding-left: $spacing-extra-extra-extra-large; }

// .pr0 { padding-right: $spacing-none; }
// .pr-xs { padding-right: $spacing-extra-small; }
.pr-s {
  padding-right: $spacing-small;
}
.pr-m {
  padding-right: $spacing-medium;
}
.pr-l {
  padding-right: $spacing-large;
}
.pr-xl {
  padding-right: $spacing-extra-large;
}
// .pr-xxl { padding-right: $spacing-extra-extra-large; }
// .pr-xxxl { padding-right: $spacing-extra-extra-extra-large; }

// .pb0 { padding-bottom: $spacing-none; }
.pb-xs {
  padding-bottom: $spacing-extra-small;
}
.pb-s {
  padding-bottom: $spacing-small;
}
.pb-m {
  padding-bottom: $spacing-medium;
}
.pb-l {
  padding-bottom: $spacing-large;
}
.pb-xl {
  padding-bottom: $spacing-extra-large;
}
.pb-xxl {
  padding-bottom: $spacing-extra-extra-large;
}
.pb-xxxl {
  padding-bottom: $spacing-extra-extra-extra-large;
}

// .pv0 {
//   padding-top: $spacing-none;
//   padding-bottom: $spacing-none;
// }
// .pv-xs {
//   padding-top: $spacing-extra-small;
//   padding-bottom: $spacing-extra-small;
// }
.pv-s {
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
}
.pv-m {
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
}
.pv-l {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}
.pv-xl {
  padding-top: $spacing-extra-large;
  padding-bottom: $spacing-extra-large;
}
.pv-xxl {
  padding-top: $spacing-extra-extra-large;
  padding-bottom: $spacing-extra-extra-large;
}
// .pv-xxxl {
//   padding-top: $spacing-extra-extra-extra-large;
//   padding-bottom: $spacing-extra-extra-extra-large;
// }

// .ph0 {
//   padding-left: $spacing-none;
//   padding-right: $spacing-none;
// }
.ph-xs {
  padding-left: $spacing-extra-small;
  padding-right: $spacing-extra-small;
}
// .ph-s {
//   padding-left: $spacing-small;
//   padding-right: $spacing-small;
// }
.ph-m {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}
.ph-l {
  padding-left: $spacing-large;
  padding-right: $spacing-large;
}
.ph-xl {
  padding-left: $spacing-extra-large;
  padding-right: $spacing-extra-large;
}
.ph-xxl {
  padding-left: $spacing-extra-extra-large;
  padding-right: $spacing-extra-extra-large;
}
// .ph-xxxl {
//   padding-left: $spacing-extra-extra-extra-large;
//   padding-right: $spacing-extra-extra-extra-large;
// }

// .ma-auto  {  margin: auto; }
// .ma0  {  margin: $spacing-none; }
// .ma-xs {  margin: $spacing-extra-small; }
// .ma-s  {  margin: $spacing-small; }
// .ma-m  {  margin: $spacing-medium; }
// .ma-l  {  margin: $spacing-large; }
// .ma-xl  {  margin: $spacing-extra-large; }
// .ma-xxl {  margin: $spacing-extra-extra-large; }
// .ma-xxxl { margin: $spacing-extra-extra-extra-large; }

// .mt0  {  margin-top: $spacing-none; }
.mt-xs {
  margin-top: $spacing-extra-small;
}
// .mt-s  {  margin-top: $spacing-small; }
.mt-m {
  margin-top: $spacing-medium;
}
.mt-l {
  margin-top: $spacing-large;
}
.mt-xl {
  margin-top: $spacing-extra-large;
}
// .mt-xxl {  margin-top: $spacing-extra-extra-large; }
// .mt-xxxl { margin-top: $spacing-extra-extra-extra-large; }

// .ml-auto  {  margin-left: auto; }
// .ml0  {  margin-left: $spacing-none; }
// .ml-xs {  margin-left: $spacing-extra-small; }
.ml-s {
  margin-left: $spacing-small;
}
.ml-m {
  margin-left: $spacing-medium;
}
// .ml-l  {  margin-left: $spacing-large; }
// .ml-xl  {  margin-left: $spacing-extra-large; }
// .ml-xxl {  margin-left: $spacing-extra-extra-large; }
.ml-xxxl {
  margin-left: $spacing-extra-extra-extra-large;
}

// .mr-auto  {  margin-right: auto; }
// .mr0  {  margin-right: $spacing-none; }
.mr-xs {
  margin-right: $spacing-extra-small;
}
.mr-s {
  margin-right: $spacing-small;
}
.mr-m {
  margin-right: $spacing-medium;
}
.mr-l {
  margin-right: $spacing-large;
}
.mr-xl {
  margin-right: $spacing-extra-large;
}
.mr-xxl {
  margin-right: $spacing-extra-extra-large;
}
// .mr-xxxl { margin-right: $spacing-extra-extra-extra-large; }

// .mb0  {  margin-bottom: $spacing-none; }
.mb-xs {
  margin-bottom: $spacing-extra-small;
}
.mb-s {
  margin-bottom: $spacing-small;
}
.mb-m {
  margin-bottom: $spacing-medium;
}
.mb-l {
  margin-bottom: $spacing-large;
}
.mb-xl {
  margin-bottom: $spacing-extra-large;
}
.mb-xxl {
  margin-bottom: $spacing-extra-extra-large;
}
// .mb-xxxl { margin-bottom: $spacing-extra-extra-extra-large; }

// .mv-auto   {
//   margin-top: auto;
//   margin-bottom: auto;
// }
// .mv0   {
//   margin-top: $spacing-none;
//   margin-bottom: $spacing-none;
// }
// .mv-xs  {
//   margin-top: $spacing-extra-small;
//   margin-bottom: $spacing-extra-small;
// }
// .mv-s   {
//   margin-top: $spacing-small;
//   margin-bottom: $spacing-small;
// }
.mv-m {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}
// .mv-l {
//   margin-top: $spacing-large;
//   margin-bottom: $spacing-large;
// }
// .mv-xl   {
//   margin-top: $spacing-extra-large;
//   margin-bottom: $spacing-extra-large;
// }
.mv-xxl {
  margin-top: $spacing-extra-extra-large;
  margin-bottom: $spacing-extra-extra-large;
}
// .mv-xxxl  {
//   margin-top: $spacing-extra-extra-extra-large;
//   margin-bottom: $spacing-extra-extra-extra-large;
// }

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}
// .mh0   {
//   margin-left: $spacing-none;
//   margin-right: $spacing-none;
// }
// .mh-xs   {
//   margin-left: $spacing-extra-small;
//   margin-right: $spacing-extra-small;
// }
// .mh-s {
//   margin-left: $spacing-small;
//   margin-right: $spacing-small;
// }
// .mh-m   {
//   margin-left: $spacing-medium;
//   margin-right: $spacing-medium;
// }
.mh-l {
  margin-left: $spacing-large;
  margin-right: $spacing-large;
}
// .mh-xl   {
//   margin-left: $spacing-extra-large;
//   margin-right: $spacing-extra-large;
// }
// .mh-xxl  {
//   margin-left: $spacing-extra-extra-large;
//   margin-right: $spacing-extra-extra-large;
// }
// .mh-xxxl  {
//   margin-left: $spacing-extra-extra-extra-large;
//   margin-right: $spacing-extra-extra-extra-large;
// }

@media #{$breakpoint-small} {
  .pt-s-s {
    padding-top: $spacing-small;
  }

  .pb-xl-s {
    padding-bottom: $spacing-extra-large;
  }
  .pb-xxl-s {
    padding-bottom: $spacing-extra-extra-large;
  }

  .pl-s-s {
    padding-left: $spacing-small;
  }

  .ph-s-s {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
  .ph-m-s {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }

  .pv-xl-s {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }

  .mt-m-s {
    margin-top: $spacing-medium;
  }
  .mt-l-s {
    margin-top: $spacing-large;
  }
  .mt-xxl-s {
    margin-top: $spacing-extra-extra-large;
  }

  .mb-s-s {
    margin-bottom: $spacing-small;
  }
  .mb-m-s {
    margin-bottom: $spacing-medium;
  }
  .mb-l-s {
    margin-bottom: $spacing-large;
  }
  .mb-xl-s {
    margin-bottom: $spacing-extra-large;
  }
  .mb-xxl-s {
    margin-bottom: $spacing-extra-extra-large;
  }

  .mh-auto-s {
    margin-left: auto;
    margin-right: auto;
  }
}

@media #{$breakpoint-not-small} {
  .pt-l-ns {
    padding-top: $spacing-large;
  }

  .pr-s-ns {
    padding-right: $spacing-small;
  }
  .pr-l-ns {
    padding-right: $spacing-large;
  }

  .pb-xl-ns {
    padding-bottom: $spacing-extra-large;
  }
  .pb-xxxl-ns {
    padding-bottom: $spacing-extra-extra-extra-large;
  }

  .pl-s-ns {
    padding-left: $spacing-small;
  }
  .pl-m-ns {
    padding-left: $spacing-medium;
  }
  .pl-l-ns {
    padding-left: $spacing-large;
  }

  .pv-l-ns {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv-xl-ns {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }

  .ph-m-ns {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }

  .mr-s-ns {
    margin-right: $spacing-small;
  }
  .mr-m-ns {
    margin-right: $spacing-medium;
  }
  .mr-xl-ns {
    margin-right: $spacing-extra-large;
  }

  .mb-l-ns {
    margin-bottom: $spacing-large;
  }
  .mb-xl-ns {
    margin-bottom: $spacing-extra-large;
  }
  .mb-xxxl-ns {
    margin-bottom: $spacing-extra-extra-extra-large;
  }

  .ml-m-ns {
    margin-left: $spacing-medium;
  }
}

@media #{$breakpoint-medium} {
  .pr-xl-m {
    padding-right: $spacing-extra-large;
  }
  .pr-xxxl-m {
    padding-right: $spacing-extra-extra-extra-large;
  }

  .pl-m-m {
    padding-left: $spacing-medium;
  }
  .pl-xl-m {
    padding-left: $spacing-extra-large;
  }

  .ph-l-m {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }

  .mr-xl-m {
    margin-right: $spacing-extra-large;
  }
  .mr-xxl-m {
    margin-right: $spacing-extra-extra-large;
  }

  .mb-s-m {
    margin-bottom: $spacing-small;
  }
  .mb-l-m {
    margin-bottom: $spacing-large;
  }
  .mb-xxl-m {
    margin-bottom: $spacing-extra-extra-large;
  }

  .ml-xl-m {
    margin-left: $spacing-extra-large;
  }
}

@media #{$breakpoint-not-large} {
  .pt-xl-nl {
    padding-top: $spacing-extra-large;
  }

  .pb-xs-nl {
    padding-bottom: $spacing-extra-small;
  }
  .pb-l-nl {
    padding-bottom: $spacing-large;
  }

  .pl-xs-nl {
    padding-left: $spacing-extra-small;
  }

  .ph-s-nl {
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }

  .pv-m-nl {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }

  .mt-m-nl {
    margin-top: $spacing-medium;
  }

  .mb-s-nl {
    margin-bottom: $spacing-small;
  }
  .mb-m-nl {
    margin-bottom: $spacing-medium;
  }
  .mb-l-nl {
    margin-bottom: $spacing-large;
  }
  .mb-xxl-nl {
    margin-bottom: $spacing-extra-extra-large;
  }
  .mb-xxxl-nl {
    margin-bottom: $spacing-extra-extra-extra-large;
  }

  .ml-m-nl {
    margin-left: $spacing-medium;
  }

  .mh-auto-nl {
    margin-left: auto;
    margin-right: auto;
  }
}

@media #{$breakpoint-large} {
  .pt-l-l {
    padding-top: $spacing-large;
  }
  .pt-xl-l {
    padding-top: $spacing-extra-large;
  }
  .pt-xxxl-l {
    padding-top: $spacing-extra-extra-extra-large;
  }

  .pr-m-l {
    padding-right: $spacing-medium;
  }
  .pr-xl-l {
    padding-right: $spacing-extra-large;
  }
  .pr-xxxl-l {
    padding-right: $spacing-extra-extra-extra-large;
  }

  .pb-s-l {
    padding-bottom: $spacing-small;
  }
  .pb-m-l {
    padding-bottom: $spacing-medium;
  }
  .pb-l-l {
    padding-bottom: $spacing-large;
  }
  .pb-xl-l {
    padding-bottom: $spacing-extra-large;
  }
  .pb-xxxl-l {
    padding-bottom: $spacing-extra-extra-extra-large;
  }

  .pl-m-l {
    padding-left: $spacing-medium;
  }
  .pl-l-l {
    padding-left: $spacing-large;
  }
  .pl-xl-l {
    padding-left: $spacing-extra-large;
  }
  .pl-xxl-l {
    padding-left: $spacing-extra-extra-large;
  }
  .pl-xxxl-l {
    padding-left: $spacing-extra-extra-extra-large;
  }

  .ph-m-l {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .ph-l-l {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
  .ph-xl-l {
    padding-left: $spacing-extra-large;
    padding-right: $spacing-extra-large;
  }
  .ph-xxl-l {
    padding-left: $spacing-extra-extra-large;
    padding-right: $spacing-extra-extra-large;
  }
  .ph-xxxl-l {
    padding-left: $spacing-extra-extra-extra-large;
    padding-right: $spacing-extra-extra-extra-large;
  }

  .pv-s-l {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
  }
  .pv-l-l {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
  }
  .pv-xl-l {
    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-extra-large;
  }
  .pv-xxxl-l {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }

  .mt-m-l {
    margin-top: $spacing-medium;
  }
  .mt-xl-l {
    margin-top: $spacing-extra-large;
  }

  .mr-xs-l {
    margin-right: $spacing-extra-small;
  }
  .mr-m-l {
    margin-right: $spacing-medium;
  }
  .mr-l-l {
    margin-right: $spacing-large;
  }
  .mr-xl-l {
    margin-right: $spacing-extra-large;
  }
  .mr-xxxl-l {
    margin-right: $spacing-extra-extra-extra-large;
  }

  .mb-m-l {
    margin-bottom: $spacing-medium;
  }
  .mb-l-l {
    margin-bottom: $spacing-large;
  }
  .mb-xl-l {
    margin-bottom: $spacing-extra-large;
  }
  .mb-xxl-l {
    margin-bottom: $spacing-extra-extra-large;
  }
  .mb-xxxl-l {
    margin-bottom: $spacing-extra-extra-extra-large;
  }

  .ml-m-l {
    margin-left: $spacing-medium;
  }
  .ml-xl-l {
    margin-left: $spacing-extra-large;
  }
  .ml-xxxl-l {
    margin-left: $spacing-extra-extra-extra-large;
  }

  .mh-l-l {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
}

@media #{$breakpoint-extra-large} {
  .pt-m-xl {
    padding-top: $spacing-medium;
  }
  .pt-xl-xl {
    padding-top: $spacing-extra-large;
  }

  .pb-l-xl {
    padding-bottom: $spacing-large;
  }

  .pl-xxl-xl {
    padding-left: $spacing-extra-extra-large;
  }

  .mb-m-xl {
    margin-bottom: $spacing-medium;
  }

  .ml-xxxl-xl {
    margin-left: $spacing-extra-extra-extra-large;
  }
}

@media #{$breakpoint-desk-large} {
  .mr-xxl-dl {
    margin-right: $spacing-extra-extra-large;
  }
}

@media #{$breakpoint-not-extra-large} {
  .pt-s-nxl {
    padding-top: $spacing-small;
  }
  .pt-xl-nxl {
    padding-top: $spacing-extra-large;
  }

  .pb-xxl-nxl {
    padding-bottom: $spacing-extra-extra-large;
  }

  .pv-m-nxl {
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
  }

  .mb-m-nxl {
    margin-bottom: $spacing-medium;
  }
  .mb-l-nxl {
    margin-bottom: $spacing-large;
  }
  .mb-xl-nxl {
    margin-bottom: $spacing-extra-large;
  }
}
