.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}

@media #{$breakpoint-small} {
  .ta-center-s {
    text-align: center;
  }
}

@media #{$breakpoint-not-large} {
  .ta-center-nl {
    text-align: center;
  }
}

@media #{$breakpoint-extra-large} {
  .ta-right-xl {
    text-align: right;
  }
}
