.tc-dark-grey {
  color: $dark-grey;
}
.tc-primary-text {
  color: $primary-text;
}
.tc-lighter-text {
  color: $lighter-text;
}
.tc-primary-text-50 {
  color: $primary-text-50;
}
.tc-primary-text-60 {
  color: $primary-text-60;
}
.tc-brown {
  color: $brown;
}
.tc-taupe {
  color: $taupe;
}
.tc-taupe-bright {
  color: $taupe-bright;
}
.tc-taupe-dark {
  color: $taupe-dark;
}
.tc-green-white {
  color: $green-white;
}
.tc-link {
  color: $link;
}
.tc-white {
  color: $white;
}
