// .w-p-10 {  width:  10%; }
// .w-p-20 {  width:  20%; }
// .w-p-25 {  width:  25%; }
// .w-p-30 {  width:  30%; }
.w-p-33 {
  width: 33%;
}
// .w-p-40 {  width:  40%; }
.w-p-49 {
  width: 49%;
}
.w-p-50 {
  width: 50%;
}
// .w-p-60 {  width:  60%; }
.w-p-66 {
  width: 66%;
}
// .w-p-70 {  width:  70%; }
// .w-p-75 {  width:  75%; }
.w-p-80 {
  width: 80%;
}
// .w-p-90 {  width:  90%; }
.w-p-100 {
  width: 100%;
}

// .w-auto { width: auto; }

.mxw-490 {
  max-width: 490px;
}
.mxw-670 {
  max-width: 670px;
}
.mxw-740 {
  max-width: 740px;
}
.mxw-900 {
  max-width: 900px;
}
.mxw-1078 {
  max-width: 1078px;
}
.mxw-1162 {
  max-width: 1162px;
}
.mxw-1242 {
  max-width: 1242px;
}
.mxw-1952 {
  max-width: 1952px;
}

@media #{$breakpoint-small} {
  .w-p-100-s {
    width: 100%;
  }
  .w-p-50-s {
    width: 50%;
  }

  .mxw-432-s {
    max-width: 432px;
  }
}

@media #{$breakpoint-not-small} {
  .w-p-40-ns {
    width: 40%;
  }
  .w-p-50-ns {
    width: 50%;
  }
  .w-p-60-ns {
    width: 60%;
  }
}

@media #{$breakpoint-medium} {
  .w-p-40-m {
    width: 40%;
  }
  .w-p-60-m {
    width: 60%;
  }
}

@media #{$breakpoint-not-large} {
  .w-p-100-nl {
    width: 100%;
  }
}

@media #{$breakpoint-large} {
  .w-60-l {
    width: 60px;
  }
  .w-150-l {
    width: 150px;
  }

  .w-p-30-l {
    width: 30%;
  }
  .w-p-33-l {
    width: 33.33%;
  }
  .w-p-40-l {
    width: 40%;
  }
  .w-p-60-l {
    width: 60%;
  }
  .w-p-70-l {
    width: 70%;
  }

  .mxw-1952-l {
    max-width: 1952px;
  }
}

@media #{$breakpoint-extra-large} {
  .w-p-18-xl {
    width: 18%;
  }
  .w-p-25-xl {
    width: 25%;
  }
}

@media #{$breakpoint-not-extra-large} {
  .w-p-33-nxl {
    width: 33%;
  }
  .w-p-100-nxl {
    width: 100%;
  }

  .mxw-312-nxl {
    max-width: 312px;
  }
  .mxw-670-nxl {
    max-width: 670px;
  }
  .mxw-740-nxl {
    max-width: 740px;
  }
}

@media #{$breakpoint-desk-small} {
  .mxw-1078-ds {
    max-width: 1078px;
  }
  .mxw-1162-ds {
    max-width: 1162px;
  }
}

@media #{$breakpoint-desk-large} {
  .mxw-1392-dl {
    max-width: 1392px;
  }
}
