.email-signup {
  @media #{$breakpoint-large} {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-right: 40px;
    padding-left: 40px;
  }

  @media #{$breakpoint-medium} {
    padding-right: 30px;
    padding-left: 30px;
  }

  &__image {
    height: 183px;

    @media #{$breakpoint-small} {
      height: 99px;
    }
  }

  &__copy {
    width: 100%;
    font-size: 27.6px;
    line-height: 1.1em;
    letter-spacing: -1px;

    @media #{$breakpoint-large} {
      max-width: 440px;
      font-size: 37.9px;
      line-height: 0.93em;
    }
  }

  &__input {
    max-width: 420px;
  }
}

.email-signup,
.waitlist-form {
  .v65-widgetFormWrapper {
    width: 100% !important;
    max-width: 400px;
  }

  form {
    position: relative;
    width: 100% !important;
    max-width: 400px;
    font-family: $font_secondary;

    label {
      display: none;
    }

    input[type="text"] {
      width: 100%;
      border-bottom: 2px solid $primary-text-50;
      font-weight: 300;

      @media #{$breakpoint-small} {
        font-size: 13.3px;
      }
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $link;

      @media #{$breakpoint-small} {
        font-size: 13.3px;
      }
    }

    input[type="text"],
    button {
      line-height: 1.76em;
      letter-spacing: 0.16px;
    }

    input[type="text"] {
      font-family: $font_secondary;
      border-radius: 0;
    }

    fieldset {
      position: relative;
    }

    legend {
      margin-bottom: 2rem;
      letter-spacing: 3.2px;
      font-family: $font-secondary;
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .error {
      &:first-of-type {
        font-size: 0;

        li {
          font-size: 12px;
        }
      }

      input[type="text"] {
        border-bottom: 2px solid $link;
      }

      ul {
        position: absolute;
        bottom: -28px;
        left: 0;
        line-height: 21px;
        letter-spacing: 0.02em;
      }
    }
  }

  .remote-form {
    font-family: $font_secondary;

    & > .v65-form > p {
      text-transform: uppercase;
    }
  }
}
