.btn-link {
  border: solid 1px $link;
  line-height: 1.5em;

  &:hover {
    color: $white;
    background-color: $link;
  }
}

.btn-radio {
  input {
    opacity: 0;
    pointer-events: none;

    &:checked + label {
      background-color: $link;
      font-weight: 300;
      color: $white;
    }
  }

  label {
    width: 94px;
    border: solid 1px $link;
    line-height: 1.5em;

    @media #{$breakpoint-small} {
      width: 70px;
    }

    &:hover {
      color: $white;
      background-color: $link;
    }
  }
}
