.content-block {
  padding-top: $spacing-extra-extra-large;
  padding-bottom: $spacing-extra-extra-large;

  @media #{$breakpoint-medium} {
    padding-top: $spacing-extra-extra-extra-large;
    padding-bottom: $spacing-extra-extra-extra-large;
  }

  @media #{$breakpoint-large} {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
