.featured-link {
  white-space: nowrap;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: calc(100% - 24px);
    border-bottom: 1px solid $link-hover;
    transition-duration: 0.3s;

    @media #{$breakpoint-small} {
      width: calc(100% - 18px);
    }
  }
}

.featured-link-container {
  a {
    position: relative;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $link-hover;
      transition-duration: 0.3s;
    }
  }
}
