.menu-icon {
  height: 18px;

  span {
    position: relative;
    top: 7px;
    transition: 0.15s;
  }

  &:after,
  &:before,
  span {
    display: block;
    width: 20px;
    height: 2px;
    background: $primary-text;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    transition: top 0.15s ease 0.35s, transform 0.15s ease;
  }

  &:before {
    top: 0px;
    transform-origin: top left;
  }

  &:after {
    top: 14px;
    transform-origin: bottom left;
  }

  &.close {
    span {
      transform: translateX(-100%);
      background: transparent;
      transition: transform 0.15s ease, background 0.15s ease 0;
    }

    &:after,
    &:before {
      transition: transform 0.15s ease 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.icon-plus {
  width: 1rem;
  height: 1em;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 6px;
    border-bottom: 1px solid $primary-text;
    opacity: 1;
    transition-duration: 0.4s;
  }

  &:after {
    transform: rotate(90deg);
  }

  &.active {
    &:before {
      transform: rotate(90deg);
      opacity: 0;
    }
    &:after {
      transform: rotate(180deg);
    }
  }
}
