.slick-track {
  li {
    &:focus {
      outline: none !important;
    }
  }
}

.slick-dots {
  display: flex;

  li {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  .slick-active {
    button {
      background-color: $taupe-dark;
    }
  }

  button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    text-indent: 1000px;
    overflow: hidden;
    background-color: $brown;
  }
}
