.h1 {
  font-size: 57.3px;
  letter-spacing: -2px;

  @media #{$breakpoint-desk-small} {
    font-size: 94px;
  }

  @media #{$breakpoint-desk-large} {
    font-size: 119.7px;
    letter-spacing: -3px;
  }
}

.h2 {
  font-size: 39.8px;
  line-height: 1.04em;
  letter-spacing: -1px;

  @media #{$breakpoint-desk-small} {
    font-size: 56px;
  }

  @media #{$breakpoint-desk-large} {
    font-size: 67.3px;
    letter-spacing: -3px;
  }
}

.h3 {
  font-size: 33.2px;
  letter-spacing: -2px;

  @media #{$breakpoint-large} {
    font-size: 50.5px;
  }
}

.h4 {
  font-size: 27.6px;
  line-height: 1.1em;
  letter-spacing: -1px;

  @media #{$breakpoint-large} {
    font-size: 37.9px;
    line-height: 0.93em;
  }
}

.h5 {
  font-size: 21px;
  letter-spacing: -0.02em;

  @media #{$breakpoint-large} {
    font-size: 28.4px;
  }
}

.quote {
  font-size: 23px;
  letter-spacing: -0.01em;

  @media #{$breakpoint-large} {
    font-size: 28.4px;
  }
}

.intro-text {
  line-height: 1.4em;

  @media #{$breakpoint-large} {
    line-height: 1.39em;
  }
}
