.wrapper-small {
  @media #{$breakpoint-desk-large} {
    padding-right: 115px;
    padding-left: 115px;
  }
}
.wrapper-small-left {
  @media #{$breakpoint-desk-small} {
    max-width: 1162px;
  }

  @media #{$breakpoint-desk-large} {
    padding-left: 115px;
  }
}
