/*******************************************
  FOOTER
  assets-src/scss/partials/_footer.scss
*******************************************/
.footer-wrapper {
  @media #{$breakpoint-large} {
    padding: 0 40px 40px;
  }

  @media #{$breakpoint-medium} {
    padding: 0 30px 30px;
  }

  @media #{$breakpoint-small} {
    padding-bottom: 18px;
  }
}

.footer {
  background-repeat: no-repeat;
  background-position: 44vw 80px;

  @media #{$breakpoint-medium} {
    background-position: center;
    background-size: 50%;
  }

  @media #{$breakpoint-small} {
    background-size: 80%;
    background-position: center bottom 30px;
  }

  &__wrapper {
    max-width: 1064px;
  }

  nav {
    width: 605px;
    padding-top: 84px;
  }

  &__main-link {
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      z-index: 2;
      width: 51px;
      border-bottom: 1px solid $primary-text;
    }
  }

  &__sublink {
    line-height: 1.62em;
  }

  &__small-link {
    line-height: 1.33em;
  }

  &__logo {
    width: 250px;

    @media #{$breakpoint-small} {
      width: 171px;
    }
  }

  &__addresses {
    width: 203px;

    @media #{$breakpoint-small} {
      width: 143px;
    }
  }

  &__institutional {
    letter-spacing: 0.24px;
  }
}
