.wine-clubs {
  &__image {
    @media #{$breakpoint-small} {
      height: 60vw;
      min-height: 245px;
    }

    @media #{$breakpoint-not-small} {
      width: 325px;
      height: 255px;
    }
  }

  &__title {
    font-size: 33.178px;
    letter-spacing: -2px;

    @media #{$breakpoint-large} {
      font-size: 67.34px;
      letter-spacing: -3px;
    }
  }

  &__btn {
    margin-right: 20px;
    max-width: 160px;

    &:last-of-type {
      margin-right: 0;
    }

    @media #{$breakpoint-small} {
      margin-right: 12px;
    }
  }

  &__btn-radio {
    max-width: 94px;
  }
}
