/*******************************************
  VARIABLES
  assets/styles/scss/config/_variables.scss
*******************************************/

/************************************************************
FILE PATH

can be used by scss files when referencing images that are
part of the theme build and not directly editable through
WP admin interface
************************************************************/
$img_path: "../images/";

/************************************************************
SPACING
************************************************************/
$spacing-none: 0 !default; // 0px
$spacing-extra-small: 0.25rem !default; // 4px
$spacing-small: 0.5rem !default; // 8px
$spacing-medium: 1rem !default; // 16px
$spacing-large: 1.5rem !default; // 24px
$spacing-extra-large: 2rem !default; // 32px
$spacing-extra-extra-large: 3rem !default; // 48px
$spacing-extra-extra-extra-large: 4rem !default; // 64px

/************************************************************
BREAKPOINTS
************************************************************/
$breakpoint-small: "screen and (max-width: 690px)" !default;
$breakpoint-not-small: "screen and (min-width: 691px)" !default;
$breakpoint-medium: "screen and (min-width: 691px) and (max-width: 1024px)" !default;
$breakpoint-medium-large: "screen and (min-width: 691px) and (max-width: 1280px)" !default;
$breakpoint-not-large: "screen and (max-width: 1024px)" !default;
$breakpoint-large: "screen and (min-width: 1025px)" !default;
$breakpoint-not-extra-large: "screen and (max-width: 1280px)" !default;
$breakpoint-extra-large: "screen and (min-width: 1281px)" !default;
$breakpoint-desk-small: "screen and (min-width: 1024px) and (max-width: 1365px)" !default;
$breakpoint-desk-large: "screen and (min-width: 1366px)" !default;

/************************************************************
COLORS
************************************************************/
// Lets be obvious
$white: #ffffff;
$dark-grey: #2a2a2b;
$black: #000000;

// Client specific colors
$primary-text: #55524f;
$lighter-text: #696969;
$primary-text-50: rgba(85, 82, 79, 0.3);
$primary-text-60: rgba(85, 82, 79, 0.6);

$brown: #9b8d80;
$taupe: #e0e3d4;
$taupe-bright: #f5f8f2;
$taupe-dark: #d6d8cd;

$green-white: #edefe5;

$link: #9d5039; // link
$link-hover: #832e14; // link hover

/************************************************************
TYPOGRAPHY
************************************************************/
// font family for titles.
$font_titles: GTSuperDisplay, serif;

// font family for texts.
$font_primary: GTSuperText, sans-serif;

// font family for buttons, links, etc.
$font_secondary: GTHaptik, sans-serif;
