.filters {
  &__container {
    max-width: 460px;

    @media #{$breakpoint-small} {
      max-width: 360px;
      width: calc(100% - 24px);
    }

    @media #{$breakpoint-medium} {
      max-width: 420px;
    }

    @media #{$breakpoint-not-large} {
      z-index: 4;
      height: 0;
      border: solid 1px $taupe-dark;
      box-shadow: 0 4px 8px 0 rgba(85, 82, 79, 0.19);
    }

    &::after {
      content: "";
      position: absolute;

      @media #{$breakpoint-large} {
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
      }

      @media #{$breakpoint-not-large} {
        width: calc(100% - 48px);
        top: 62px;
        left: 24px;
        border-bottom: 1px solid $taupe;
      }
    }

    &.active {
      @media #{$breakpoint-large} {
        &::after {
          border: 1px solid $green-white;
        }
      }
    }

    &.opened {
      @media #{$breakpoint-not-large} {
      }
    }
  }

  &__modal-bg {
    z-index: -1;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(4px);
    opacity: 0;

    &.opened {
      z-index: 1;
      opacity: 1;
    }
  }

  &__label {
    letter-spacing: 0.01em;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      border-bottom: 2px solid $link;

      @media #{$breakpoint-medium} {
        bottom: -7px;
      }
    }

    &.active {
      &::after {
        width: 100%;
      }
    }
  }

  &__select-box {
    top: 64px;
    height: 0px;

    @media #{$breakpoint-large} {
      top: 43px;
      box-shadow: 0px 54px 54px rgba(0, 0, 0, 0.15);
    }

    &.active {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      @media #{$breakpoint-small} {
        padding-bottom: 3rem;
      }

      @media #{$breakpoint-large} {
        height: auto;
        border: 1px solid $green-white;
      }

      @media #{$breakpoint-not-large} {
        height: calc(100% - 64px);
      }
    }

    ul {
      @media #{$breakpoint-large} {
        height: auto;
      }
    }
  }

  &__select-box-price {
    &.active {
      @media #{$breakpoint-large} {
        height: auto;
      }
    }
  }

  &__selected-item {
    line-height: 1.33em;
  }

  &__btn {
    max-width: 132px;
    padding-top: 6px;
    padding-bottom: 6px;

    @media #{$breakpoint-large} {
      max-width: 208px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.ui-slider-horizontal {
  height: 3px !important;
  border: 0 !important;
  background: $taupe-dark !important;
}

.ui-widget-header {
  background: $primary-text !important;
}

.ui-slider-handle {
  top: -10px !important;
  width: 24px !important;
  height: 24px !important;
  background: $white !important;
  border: 1px solid $primary-text !important;
  border-radius: 50% !important;

  &.ui-state-focus {
    outline: none !important;
  }
}
