.text-block {
  h1,
  h2,
  h3 {
    margin-bottom: $spacing-small;
    font-family: $font-titles;
    font-size: 33.2px;
    letter-spacing: -2px;
    line-height: 1.15em;
    color: $dark-grey;

    @media #{$breakpoint-large} {
      margin-bottom: $spacing-medium;
      font-size: 50.5px;
    }
  }

  h4,
  h5,
  h6 {
    margin-bottom: $spacing-extra-small;
    font-family: $font_primary;
    font-size: 17.2px;

    @media #{$breakpoint-large} {
      font-size: 21.3px;
    }
  }

  a {
    position: relative;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $link-hover;
      transition-duration: 0.3s;
    }
  }

  ul {
    li {
      position: relative;
      margin-bottom: $spacing-small;
      padding-left: $spacing-medium;

      &::before {
        content: "•";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
      }
    }
  }

  blockquote {
    font-family: $font_titles;
    font-style: italic;
    font-weight: 300;
    font-size: 23px;
    line-height: 1.27em;
    letter-spacing: -0.01em;
    color: $brown;

    @media #{$breakpoint-large} {
      font-size: 28.43px;
    }
  }
}
