.video-banner {
  @media #{$breakpoint-large} {
    padding-bottom: 70px;
  }

  &__video-container {
    height: 52.7vw;
    max-height: 672px;

    @media #{$breakpoint-small} {
      height: 51.6vw;
    }

    iframe {
      height: 60vw;
    }
  }

  &__banner-icon {
    width: 75px;

    @media #{$breakpoint-medium} {
      width: 52px;
    }

    @media #{$breakpoint-small} {
      width: 24px;
    }
  }

  &__banner-text {
    width: 320px;

    h1 {
      font-size: 1em;
      line-height: 1.6em;
      letter-spacing: 0.06em;
    }

    p {
      font-size: 12px;
      line-height: 1.85em;
      letter-spacing: 0.08em;
    }

    em {
      font-family: $font_titles;
      font-style: italic;
    }
  }
}
