.experience-item {
  min-height: 256px;

  &__image {
    @media #{$breakpoint-small} {
      height: 60vw;
      min-height: 256px;
    }

    @media #{$breakpoint-not-small} {
      width: 324px;
    }

    @media #{$breakpoint-large} {
      height: 256px;
    }
  }

  &__btn-link {
    line-height: 1.5em;
    max-width: 144px;

    @media #{$breakpoint-small} {
    }
  }
}
