.events-list {
  li {
    @media #{$breakpoint-large} {
      width: calc(33.333% - 13.4px);
      margin-right: 20px;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    @media #{$breakpoint-medium} {
      width: calc(50% - 10px);

      &:nth-of-type(odd) {
        margin-right: 20px;
      }
    }
  }

  &__image {
    @media #{$breakpoint-small} {
      padding-top: 44%;
      width: 83%;
    }

    @media #{$breakpoint-not-small} {
      padding-top: 53%;
    }
  }

  &__title {
    @media #{$breakpoint-small} {
      width: 83%;
    }
  }
}
