.recipes-list {
  @media #{$breakpoint-not-small} {
    margin-right: -20px;
  }

  li {
    @media #{$breakpoint-not-small} {
      width: calc(50% - 20px);
      max-width: 440px;
      margin-right: 20px;
    }
  }

  &__image {
    height: 67.2vw;

    @media #{$breakpoint-medium} {
      height: 34vw;
      max-height: 320px;
    }

    @media #{$breakpoint-large} {
      height: 323px;
    }
  }
}
