.posts-list {
  &__image {
    max-width: 900px;

    @media #{$breakpoint-not-large} {
      height: 67.1vw;
      max-height: 625px;
    }

    @media #{$breakpoint-large} {
      height: 625px;
    }
  }

  &__border {
    max-width: 900px;
  }
}
