.page-visit,
.page-plan-your-visit {
  .cross-promotion-container {
    padding-top: $spacing-extra-extra-large;
    padding-bottom: $spacing-extra-extra-large;

    @media #{$breakpoint-large} {
      padding-bottom: 0;
    }
  }
}

.page-directions {
  .map-block {
    padding-bottom: 0;
  }
}

.page-history {
  .featured-links {
    padding-top: $spacing-large;
    padding-bottom: 0;

    @media #{$breakpoint-large} {
      padding-top: 2.5rem;
    }
  }
}

.page-vineyards {
  .heading-block {
    margin-bottom: $spacing-large;
  }

  .images-slider {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-shop {
  &__shop-list {
    @media #{$breakpoint-large} {
      margin-right: -20px;
    }
  }

  &__content {
    padding-bottom: $spacing-extra-extra-large;

    @media #{$breakpoint-medium} {
      padding-bottom: $spacing-extra-extra-extra-large;
    }

    @media #{$breakpoint-large} {
      padding-bottom: 5rem;
    }
  }
}

.page-experiences {
  .heading-block {
    @media #{$breakpoint-small} {
      padding-bottom: $spacing-extra-extra-large;
    }
  }
}

.page-clubs {
  .heading-block {
    @media #{$breakpoint-small} {
      margin-bottom: $spacing-extra-extra-large;
    }
  }
}

.page-private-reservations {
  .rotating-promo {
    padding-bottom: 0;
  }
}

.page-learn {
  .heading-block {
    padding-bottom: 5rem;

    @media #{$breakpoint-small} {
      margin-bottom: $spacing-extra-extra-large;
    }
  }
}

div[v65remotejs="modalCart"] {
  display: none !important;
}

.page-napa-valley-cooking-class {
  .heading-block {
    margin-bottom: $spacing-extra-extra-large;
  }
}
