.single-event-page {
  @media #{$breakpoint-extra-large} {
    padding-left: 115px;
  }

  &__sidebar {
    max-width: 472px;
  }

  &__image {
    height: 50vw;
    max-height: 356px;
  }

  &__btn {
    line-height: 1.5em;
  }
}
