.single-post {
  &__image {
    max-width: 1130px;
    height: 56vw;

    @media #{$breakpoint-large} {
      height: 625px;
    }
  }

  .rotating-promo {
    padding-top: 0;
    padding-bottom: 0;
  }
}
