.single-wine-page {
  @media #{$breakpoint-large} {
    padding-bottom: 5rem;
  }

  &__content {
    @media #{$breakpoint-large} {
      width: 60;
    }
  }

  &__text {
    @media #{$breakpoint-large} {
      padding-left: 115px;
    }
  }

  &__sticky {
    @media #{$breakpoint-large} {
      top: 0;
      right: 0;

      &.sticked {
        position: fixed;
        top: 100px;
        right: 1rem;
      }

      &.bottom {
        position: absolute;
        top: inherit;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__sold-out {
    padding-top: 11px;
    padding-bottom: 11px;
    max-width: 268px;
  }

  &__image {
    height: 600px;

    @media #{$breakpoint-large} {
      margin-bottom: 5rem;
    }

    @media #{$breakpoint-desk-large} {
      height: 41.64vw;
      max-height: 700px;
    }

    @media #{$breakpoint-small} {
      height: 64vw;
      min-height: 240px;
    }
  }

  &__button {
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 200px;

    @media #{$breakpoint-small} {
      max-width: 280px;
    }
  }

  &__teaser {
    border-top: 1px solid $green-white;
    border-bottom: 1px solid $green-white;
  }

  &__radio-btns {
    input {
      opacity: 0;
      pointer-events: none;

      &:checked + label {
        color: $link;
        border: 1px solid $link;
      }
    }

    p {
      border: 1px solid $link;
    }
  }

  &__accolades {
    letter-spacing: 0.01em;
    line-height: 1.76;

    h3 {
      font-size: 1rem;

      @media #{$breakpoint-not-small} {
        margin-bottom: $spacing-small;
      }

      @media #{$breakpoint-small} {
        font-size: 13.3px;
      }
    }

    p {
      font-weight: 300;

      @media #{$breakpoint-small} {
        font-size: 13.3px;
      }
    }

    a,
    pre {
      font-size: 12px;
      color: $brown;
      letter-spacing: 0.02em;
    }

    a {
      font-style: italic;
    }

    pre {
      font-family: $font_secondary;
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #c4c4c4;
    background-color: $white;

    &:after {
      content: "\2713";
      position: absolute;
      top: 0;
      left: 0;
      color: $white;
      width: 100%;
      text-align: center;
    }

    &:checked {
      background-color: $link;
    }
  }

  &__scores {
    li:not(:last-of-type) {
      &:after {
        content: ", ";
        white-space: pre;
      }
    }
  }

  &__downloads-list {
    width: 80px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border-right: 1px solid $primary-text-50;
    }

    .marker {
      right: 0;
      margin-top: 4px;
      height: 20px;
      border-right: 3px solid $primary-text;
    }

    button {
      &:hover,
      &.active {
        color: $primary-text;
      }

      &.active {
        & ~ .single-wine-page__downloads-sublist {
          opacity: 1;
          z-index: 1;
        }
      }
    }
  }

  &__downloads-sublist {
    z-index: 0;
    left: 80px;
    width: 200px;
    opacity: 0;

    a:hover {
      color: $link;
    }
  }

  .cross-promotion {
    margin-bottom: $spacing-extra-extra-large;

    @media #{$breakpoint-large} {
      margin-bottom: 5rem;
    }
  }
}

.box-wine-page {
  .cross-promotion {
    margin-top: $spacing-extra-extra-large;

    @media #{$breakpoint-large} {
      margin-top: 5rem;
    }
  }
}
