.single-recipe {
  &__half-container {
    @media #{$breakpoint-not-small} {
      width: calc(50% - 20px);

      &:nth-of-type(odd) {
        margin-right: 40px;
      }
    }
  }

  &__image {
    height: 405px;
  }

  &__chef-photo {
    width: 92px;
    height: 92px;

    @media #{$breakpoint-small} {
      width: 46px;
      height: 46px;
    }
  }

  &__chef-signature {
    max-width: 205px;
  }

  &__instructions-item {
    padding-left: 2rem;
  }

  &__wine {
    border: 1px solid $green-white;
  }

  &__wine-cover {
    width: 95px;
    height: 147px;
  }

  &__list {
    padding-bottom: 5rem;

    @media #{$breakpoint-large} {
      padding-bottom: 10rem;
    }

    li {
      @media #{$breakpoint-not-small} {
        width: calc(33.333% - 20px);
        margin-right: 20px;

        &:nth-of-type(2n):nth-last-of-type(2n + 1),
        &:nth-of-type(2n - 1):nth-last-of-type(2n),
        &:nth-of-type(2n - 2):last-of-type {
          width: calc(50% - 20px);
          margin-right: 20px;
        }
      }
    }

    &-image {
      padding-top: 72.5%;
    }

    &-link {
      .underline {
        text-decoration: underline;
        text-decoration-color: $link;
      }
    }
  }
}
