.circle-video-text {
  background-repeat: no-repeat;
  background-position: right center;

  @media #{$breakpoint-small} {
    background: none !important;
  }

  &__copy {
    @media #{$breakpoint-not-small} {
      width: 50%;
      max-width: 480px;
      margin-right: 48px;
    }

    @media #{$breakpoint-extra-large} {
      margin-right: 100px;
    }

    h1,
    h2,
    h3 {
      margin-bottom: $spacing-medium;
      font-family: $font_titles;
      font-weight: 300;
      font-size: 67.34px;

      @media #{$breakpoint-small} {
        font-size: 39.813px;
      }
    }

    p {
      line-height: 1.76;
      letter-spacing: 0.01em;
      font-weight: 300;
    }

    pre {
      font-size: 12px;
      font-family: $font_secondary;
    }

    img {
      @media #{$breakpoint-small} {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__video-container {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    width: 280px;
    height: 280px;

    @media #{$breakpoint-medium} {
      width: 340px;
      height: 340px;
    }

    @media #{$breakpoint-large} {
      width: 480px;
      height: 480px;
    }
  }

  &__video {
    width: 860px;
  }
}
