.partners-list {
  &__item {
    max-width: 900px;
  }

  &__image {
    width: 270px;
    height: 200px;

    @media #{$breakpoint-small} {
      width: 224px;
      height: 164px;
    }
  }

  &__description {
    strong {
      font-weight: 500;
    }
  }

  &__icon {
    font-size: 18px;
  }
}
