.cross-promotion {
  &__image {
    width: 164px;
    height: 164px;

    @media #{$breakpoint-small} {
      width: 100px;
      height: 100px;
    }
  }

  &__copy {
    @media #{$breakpoint-medium} {
      padding-right: 20px;
      max-width: 380px;
    }

    @media #{$breakpoint-large} {
      max-width: 450px;
    }
  }

  &--full-width {
    .cross-promotion__image {
      width: 164px;
      height: 164px;

      @media #{$breakpoint-small} {
        width: 100px;
        height: 100px;
      }
    }

    .cross-promotion__copy {
      @media #{$breakpoint-medium} {
        padding-right: 20px;
        max-width: 380px;
      }

      @media #{$breakpoint-large} {
        max-width: 500px;
      }
    }
  }
}
