.section-title {
  height: 74px;
  font-size: 119.65px;
  letter-spacing: -3px;
  white-space: nowrap;

  @media #{$breakpoint-medium} {
    height: 52px;
    font-size: 90px;
  }

  @media #{$breakpoint-small} {
    height: 26px;
    font-size: 57.33px;
    letter-spacing: -2px;
  }
}
