.shipment-schedule {
  table {
    max-width: 1015px;
    table-layout: fixed;
    border-collapse: collapse;
  }

  thead {
    border-bottom: 1px solid $brown;
    border-collapse: collapse;

    td {
      padding-bottom: 8px;
    }
  }

  tbody {
    tr:not(:last-of-type) {
      border-bottom: 1px solid #dadada;
    }

    td {
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }

  td {
    line-height: 1.5em;
  }
}
