.wine-portfolio {
  &:nth-of-type(1) {
    z-index: 10;
  }
  &:nth-of-type(2) {
    z-index: 9;
  }
  &:nth-of-type(3) {
    z-index: 8;
  }
  &:nth-of-type(4) {
    z-index: 7;
  }
  &:nth-of-type(5) {
    z-index: 6;
  }
  &:nth-of-type(6) {
    z-index: 5;
  }
  &:nth-of-type(7) {
    z-index: 4;
  }
  &:nth-of-type(8) {
    z-index: 3;
  }
  &:nth-of-type(9) {
    z-index: 2;
  }
  &:nth-of-type(10) {
    z-index: 1;
  }

  &__list {
    padding-left: 9.5vw;
  }

  &__bottle {
    width: 95px;
    height: 355px;
  }

  &__content {
    max-width: 250px;
    margin-top: 5rem;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__name {
    line-height: 1.38em;
  }

  &__search-name {
    @media #{$breakpoint-large} {
      min-width: 390px;
    }
  }

  &__search-year {
    @media #{$breakpoint-large} {
      width: 90px;
    }
  }

  &__search-list {
    border: 1px solid $green-white;

    li:not(:last-of-type) {
      margin-bottom: $spacing-medium;
    }

    &.hidden {
      display: none !important;
    }

    .disabled {
      color: $primary-text-50;
      cursor: initial;
    }
  }

  &__search-input {
    border-bottom: 1px solid $black;

    &.error {
      border-bottom: 2px solid $link;

      & > span {
        color: rgba($link, 0.5);
      }
    }
  }

  &__search-btn {
    padding: 10px 40px;
  }
}
