.slider-nav {
  line-height: 1.5em;

  button {
    font-size: 24px;

    &:nth-of-type(1) {
      transform: rotate(180deg);
    }
  }

  &--h {
    button {
      &:nth-of-type(1) {
        transform: rotate(90deg);
      }

      &:nth-of-type(2) {
        transform: rotate(-90deg);
      }
    }
  }
}
