.experience-category {
  &__image {
    height: 56vw;

    @media #{$breakpoint-not-large} {
      max-width: 640px;
      max-height: 420px;
    }

    @media #{$breakpoint-large} {
      width: 896px;
      height: 600px;
    }
  }

  &__btn {
    max-width: 145px;
    line-height: 1.5em;
  }
}
