.dates-list {
  &__list {
    padding-left: 12vw;

    @media #{$breakpoint-not-small} {
      padding-left: 115px;
    }

    li {
      width: 50%;

      @media #{$breakpoint-not-small} {
        width: 33%;
      }

      @media #{$breakpoint-large} {
        width: 20%;
      }
    }
  }
}
