.rotating-promo {
  &-content {
    @media #{$breakpoint-extra-large} {
      margin-left: 115px;
    }
  }

  &__image {
    height: 52vw;

    @media #{$breakpoint-large} {
      width: 1015px;
      height: 531px;
    }
  }

  &__content {
    @media #{$breakpoint-not-large} {
      margin-top: -2rem;
    }

    @media #{$breakpoint-large} {
      width: 530px;
      left: 50%;
    }

    @media #{$breakpoint-extra-large} {
      left: 60%;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    @media #{$breakpoint-extra-large} {
      left: 70px;
    }
  }

  .slick-dots {
    position: absolute;
    top: 51vw;
    left: 50px;
  }
}
