.journal-promotion {
  &__content {
    @media #{$breakpoint-large} {
      padding-left: 115px;
    }

    @media #{$breakpoint-extra-large} {
      padding-left: 230px;
    }
  }

  &__image {
    width: 555px;
    height: 375px;

    @media #{$breakpoint-medium} {
      max-height: 375px;
      height: 36.62vw;
    }
  }

  &__posts-container {
    max-width: 440px;
  }

  .post-image {
    opacity: 0;
    z-index: -1;
  }

  &__post {
    &:hover {
      .post-image {
        z-index: 1;
        opacity: 1;
      }
    }
  }
}
