.wine-card {
  max-width: 555px;
  height: 343px;
  margin-bottom: 40px;
  border: 1px solid $green-white;

  @media #{$breakpoint-not-small} {
    margin-right: 20px;
    width: calc(50% - 20px);
  }

  &:last-of-type,
  &:nth-last-child(2):not(:first-of-type) {
    margin-bottom: 0;
  }

  &:nth-of-type(odd):nth-last-child(2) ~ &--package {
    margin-top: 40px;
  }

  &--sub-product {
    @media #{$breakpoint-medium} {
      margin-left: 31px;
    }

    @media #{$breakpoint-not-small} {
      width: 100%;
    }

    @media #{$breakpoint-small} {
      margin-left: 17px;
      width: calc(100% - 17px);
    }
  }

  @media #{$breakpoint-small} {
    height: auto;
    min-height: 271px;
    margin-bottom: 20px;
  }

  &--package {
    max-width: inherit;

    @media #{$breakpoint-not-small} {
      width: 100%;
      max-width: 1130px;
    }

    @media #{$breakpoint-small} {
      .wine-card__image {
        height: 216px;
      }

      .wine-card__button {
        max-width: inherit;
      }
    }
  }

  &__title {
    font-size: 28.43px;
    letter-spacing: -0.02em;

    @media #{$breakpoint-medium} {
      font-size: 24px;
    }

    @media #{$breakpoint-small} {
      font-size: 21px;
    }
  }

  &__button {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 208px;

    @media #{$breakpoint-small} {
      padding-top: 6px;
      padding-bottom: 6px;
      max-width: 132px;
    }
  }

  &__input {
    width: 63.1px;
    margin-right: 12px;
    line-height: 41px;
    border: solid 1px $taupe-dark;

    @media #{$breakpoint-small} {
      width: 38px;
      line-height: 36px;
    }
  }

  &__price-list {
    top: 0;
    left: 1rem;
    width: 170px;
    transform: translateY(-40%);
    border: solid 1px $green-white;
    box-shadow: 7px -4px 24px 0 rgba(0, 0, 0, 0.05);

    input:checked + label {
      background-color: $green-white;
    }

    label {
      padding-top: 11px;
      padding-left: 1rem;
      padding-bottom: 11px;
      line-height: 1.5em;

      &:hover {
        background-color: $green-white;
      }
    }
  }

  &__counter {
    left: -31px;
    line-height: 60px;
    width: 62px;
    border: 1px solid $brown;

    @media #{$breakpoint-small} {
      left: -24px;
      line-height: 46px;
      width: 48px;
    }
  }
}

.star-under {
  color: #c4c4c4;
}

.star-over {
  color: #55524f;
}

.gift-items-container {
  .wine-card {
    &:nth-last-child(2):not(:first-of-type) {
      margin-bottom: 40px;
    }
  }
}
