.image-intro {
  &__cover-tall {
    max-height: 850px;
    height: 59.1vw;
  }

  &__cover-short {
    max-height: 590px;
    height: 43.3vw;
  }

  &__text {
    blockquote {
      font-family: $font_titles;
      color: $brown;
      font-size: 23px;
      line-height: 1.27;
      letter-spacing: -0.01em;

      @media #{$breakpoint-large} {
        font-size: 28.4px;
      }
    }

    pre {
      margin-bottom: $spacing-medium;
      font-size: 12px;
      font-family: $font-secondary;
    }
  }
}
