.assets-section {
  &__title-cover {
    max-width: 705px;
    height: 400px;

    @media #{$breakpoint-small} {
      height: 64vw;
    }

    @media #{$breakpoint-large} {
      margin-bottom: 5rem;
    }
  }

  &__item {
    @media #{$breakpoint-medium} {
      width: calc(50% - 20px);
      margin-right: 20px;

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }

    @media #{$breakpoint-large} {
      width: calc(33.333% - 13.4px);
      margin-right: 20px;

      &:nth-of-type(3n),
      &:last-of-type {
        margin-right: 0;
      }

      &:nth-of-type(3):nth-last-of-type(2) {
        margin-right: 20px;
      }

      &:nth-of-type(1):nth-last-of-type(4),
      &:nth-of-type(2):nth-last-of-type(3),
      &:nth-of-type(3):nth-last-of-type(2),
      &:nth-of-type(4):last-of-type {
        width: calc(25% - 15px);
      }

      &:nth-of-type(4):last-of-type {
        margin-right: 0;
      }
    }
  }

  &__item-img {
    height: 210px;
    border: 1px solid #dadada;
  }
}
