/*******************************************
  FONTS
  assets/styles/scss/base/_fonts.scss
*******************************************/

@font-face {
  font-family: "GTSuperText";
  src: url("../fonts/GTSuper/GT-Super-Text-Book.woff2") format("woff2"),
    url("../fonts/GTSuper/GT-Super-Text-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTSuperText";
  src: url("../fonts/GTSuper/GT-Super-Text-Book-Italic.woff2") format("woff2"),
    url("../fonts/GTSuper/GT-Super-Text-Book-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GTSuperDisplay";
  src: url("../fonts/GTSuper/GT-Super-Display-Light.woff2") format("woff2"),
    url("../fonts/GTSuper/GT-Super-Display-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GTSuperDisplay";
  src: url("../fonts/GTSuper/GT-Super-Display-Light-Italic.woff2") format("woff2"),
    url("../fonts/GTSuper/GT-Super-Display-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

/////////////////////////
// GTHaptik
/////////////////////////
@font-face {
  font-family: "GTHaptik";
  src: url("../fonts/GTHaptik/GT-Haptik-Regular.woff2") format("woff2"),
    url("../fonts/GTHaptik/GT-Haptik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GTHaptik";
  src: url("../fonts/GTHaptik/GT-Haptik-Regular-Oblique.woff2") format("woff2"),
    url("../fonts/GTHaptik/GT-Haptik-Regular-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GTHaptik";
  src: url("../fonts/GTHaptik/GT-Haptik-Light.woff2") format("woff2"),
    url("../fonts/GTHaptik/GT-Haptik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GTHaptik";
  src: url("../fonts/GTHaptik/GT-Haptik-Light-Oblique.woff2") format("woff2"),
    url("../fonts/GTHaptik/GT-Haptik-Light-Oblique.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
