@font-face {
  font-family: "icon-fonts";
  src: url("../fonts/icons/icon-fonts.eot?9bj1j2");
  src: url("../fonts/icons/icon-fonts.eot?9bj1j2#iefix") format("embedded-opentype"),
    url("../fonts/icons/icon-fonts.ttf?9bj1j2") format("truetype"), url("../fonts/icons/icon-fonts.woff?9bj1j2") format("woff"),
    url("../fonts/icons/icon-fonts.svg?9bj1j2#icon-fonts") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon-fonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e915";
}
.icon-latest:before {
  content: "\e913";
}
.icon-dish:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e912";
}
.icon-trefethen-location:before {
  content: "\e911";
}
.icon-philosophy:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e901";
}
.icon-call:before {
  content: "\e902";
}
.icon-caret:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-gardensandorchards:before {
  content: "\e905";
}
.icon-history:before {
  content: "\e906";
}
.icon-journal:before {
  content: "\e907";
}
.icon-link-arrow:before {
  content: "\e908";
}
.icon-link:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e90a";
}
.icon-pairingandrecipes:before {
  content: "\e90b";
}
.icon-print:before {
  content: "\e90c";
}
.icon-promo-arrow:before {
  content: "\e90d";
}
.icon-reservations:before {
  content: "\e90e";
}
.icon-shell:before {
  content: "\e90f";
}
.icon-vineyardmap:before {
  content: "\e910";
}
.icon-wine:before {
  content: "\ea97";
}
.icon-close:before {
  content: "\ea99";
}
.icon-plus:before {
  content: "\eaa1";
}
.icon-star:before {
  content: "\eaa5";
}
.icon-vivino:before {
  content: "\eaa7";
}
.icon-tasting:before {
  content: "\eaa8";
}
.icon-club:before {
  content: "\eaa9";
}
.icon-event:before {
  content: "\eaaa";
}
.icon-recipe:before {
  content: "\eaab";
}
.icon-post:before {
  content: "\eaac";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\eaa6";
}
