.text-image-slider {
  &__copy-content {
    @media #{$breakpoint-medium} {
      width: calc(50% - 1rem);
      padding-top: 75px;
    }

    @media #{$breakpoint-large} {
      width: calc(50% - 2rem);
      padding-top: 130px;
    }
  }

  &__title {
    @media #{$breakpoint-not-small} {
      left: 1rem;
      width: calc(50% - 2rem);
    }

    @media #{$breakpoint-medium} {
      padding-top: 20px;
    }

    @media #{$breakpoint-large} {
      padding-top: 65px;
    }

    @media #{$breakpoint-desk-large} {
      left: 115px;
      width: calc(50% - 115px);
    }
  }

  &__text {
    p {
      line-height: 1.76;
      letter-spacing: 0.01em;
      font-weight: 300;
    }

    pre {
      font-size: 12px;
      font-family: $font_secondary;
    }

    img {
      @media #{$breakpoint-small} {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__text-image {
    max-height: 50px;
  }

  &__image {
    width: 285px;
    height: 269px;

    @media #{$breakpoint-not-small} {
      max-height: 575px;
      height: 47vw;
    }

    @media #{$breakpoint-medium} {
      width: calc(50% - 1rem);
      min-height: 400px;
    }

    @media #{$breakpoint-large} {
      width: calc(50% - 2rem);
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0 1rem;
    background-color: $white;

    @media #{$breakpoint-extra-large} {
      right: -50px;
    }

    @media #{$breakpoint-desk-large} {
      right: 20px;
    }
  }

  &__links {
    @media #{$breakpoint-small} {
      max-width: 340px;
    }

    @media #{$breakpoint-not-small} {
      width: calc(50% - 2rem);
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media #{$breakpoint-small} {
      top: 295px;
    }

    @media #{$breakpoint-medium} {
      bottom: -90px;
    }
  }
}
